<!--
    Author :wb-zj268791
    Date:2017/3/15
    Dec :chord
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.css"/>
    <link rel="stylesheet" href="https://keepfool.github.io/vue-tutorials/06.Router/basic/assets/css/custom.css"/>
    <script src="https://keepfool.github.io/vue-tutorials/06.Router/basic/js/vue.js"></script>
    <script src="https://keepfool.github.io/vue-tutorials/06.Router/basic/js/vue-router.js"></script>
    <title>Title</title>
</head>
<body>

<div id="app">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="page-header">
                <h2>Vue 路由</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            <div class="list-group">
                <!--使用指令v-link进行导航-->
                <a class="list-group-item" v-link="{ path: '/home' ,activeClass: 'active'}">Home</a>
                <a class="list-group-item" v-link="{ path: '/about', activeClass: 'active'}">About</a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-body">
                    <!--用于渲染匹配的组件-->
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let Home = Vue.extend({
        template: '<div><h1>Home</h1><div><p>{{msg}}</p></div></div>',
        data: function () {
            return {
                msg: "hello"
            }

        }
    })


    let About = Vue.extend({
        template: '<div><h1>About</h1><p>This is the tutorial about vue-router.</p></div>'
    })

    let router = new VueRouter();

    router.map({
        '/home': {component: Home},
        '/about': {component: About}
    })


    router.redirect({
        '/': '/home'
    })

    /**
     * 启动路由
     * @type {Vue}
     */

    var App = Vue.extend({})
    router.start(App, '#app')
</script>
</body>
</html>