<!--
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<style type="text/css">
    .param-list>div{
        margin-top: 8px;
    }
    .param-list>div .label{
        display: inline-block;
        width: 150px;
        color: black;
        text-align: left;
    }
    .form-required{
        color: red;
    }
</style>

<div class="container">

    <!-- busuac -->
    <div class="panel panel-default">
        <div class="panel-heading">接口测试工具</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>接口渠道:<input type="text" name="merchantId"/></td>
                    <td>接口类型:<select name="intf" id="select_intf" class="select">
                        #foreach($intf in $intfList)
                            <option value="$!{intf.id}">$!{intf.name}</option>
                        #end
                    </select></td>
                </tr>
                <tr>
                    <td>签名秘钥：<input type="text" name="secretKey"/></td>
                    <td>测试地址：<input type="text" name="url"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary" id="btn_confirm_intf" data-gen="0">确定渠道和接口类型</button> <br>
                        <div id="intf_info"><span>***</span> 渠道说明: -[<span>$!{intfList.get(0).url}</span>]</div>
                    </td>
                </tr>
                <tr>
                    <td width="100px">接口输入:</td>
                    <td>
                        <p id="intf_name"></p>
                        <div class="param-list">
                            <p>请点击"确定渠道和接口类型"按钮生成输入参数列表</p>

                        </div>
                    </td>
                </tr>
                <tr><td colspan="2"><button class="btn btn-primary" id="btn_verify_intf">接口测试</button></td></tr>
                <tr>
                    <td>结果分析:</td>
                    <td><div class="result-analysis">显示接口测试返回原始结果或报错信息</div></td>
                </tr>
                <tr>
                    <td>原始数据:</td>
                    <td><textarea class="result-raw" rows="10" style="width: 450px;"></textarea></td>
                </tr>
                <!--
                <tr>
                    <td>JSON结构化展示:</td>
                    <td><div class="result-format">默认不显示，返回结果是json格式是才正确显示</div></td>
                </tr>
                -->
                </tbody>
            </table>
        </div>
    </div><!-- end busuac -->

</div>

<script type="text/javascript">
    var IntfList=#if($intfListJson) $!{intfListJson}; #else ''; #end
    $(function () {
        $('#btn_confirm_intf').click(function () {
            var test_url=$('input[type="text"][name="url"]').val();
            var merchantId=$('input[type="text"][name="merchantId"]').val();

            var len=IntfList.length;
            if(len<=0){
                alert('无法从系统获取接口类型！');
                return false;
            }

            if(test_url.length<=0){
                alert('未填写测试地址！');
                return false;
            }

            if(merchantId.length<=0){
                alert('未填写接口渠道！');
                return false;
            }

            var intfId=$('#select_intf').val();
            var data=null;
            for(var i=0; i<len;++i){
                var item=IntfList[i];
                if(item['id']==intfId){
                    data=item;
                    break;
                }
            }
            if(data){


                var html=[
                    '<b>'+merchantId+'</b>',
                    '渠道说明: ',
                    data['name']+'['+test_url+']'
                ];
                $('#intf_info').html(html.join(''));
                $('#intf_name').html('['+data['name']+']');

                var url='/verifier/getIntfInparam?intfId='+intfId;
                $.getJSON(url,function (result) {

                    $('#btn_confirm_intf').attr('data-gen',1);

                    if(result&&result['success']){
                        var records=result['data'];
                        var strHtml='';
                        for(var i=0; i<records.length;i++){
                            var e=records[i];
                            if(!e['visible']) continue;
                            var tmp=['<div>',
                                    '<span class="label">'+e['name']+':</span>',
                                    '<input class="param-item" type="text" name="'+e['name']+'" data-name="'+e['name']+'"/>',
                                    (e['required']?'<span class="form-required">*必填项</span>':'选填项'),
                                    '<span>&nbsp;&nbsp;&nbsp;&nbsp;'+e['desc']+'</span>',
                                '</div>'];
                            strHtml+=tmp.join('');
                        }
                        strHtml=strHtml.length>0?strHtml:'<p><b>无需要填写的参数！</b></p>';
                        $('.param-list').html(strHtml);

                    }else{
                        alert('System Error!');
                    }
                });

            }
        });


        $('#btn_gen_json').click(function(){
            var params=[];
            $('.param-list .param-item').each(function(){

                var name=$(this).attr('data-name');
                var value=$(this).val();
                var obj={};
                obj[name]=value;

                params.push(obj);
            });
            var json=JSON.stringify(params);
            $('.gen-json').text(json);
        });

        $("#btn_verify_intf").click(function(){
            var gen=$('#btn_confirm_intf').attr('data-gen');
            if(gen==0){
                alert('请点击"确定渠道和接口类型"按钮生成输入参数列表!');
                return false;
            }

            var merchantId=$('input[type="text"][name="merchantId"]').val();
            var intfId=$('#select_intf').val();
            var secretKey=$('input[type="text"][name="secretKey"]').val();
            var url=$('input[type="text"][name="url"]').val();

            if(url.length<=0){
                alert('请填写测试地址');
                return false;
            }


            var params={"merchantId":merchantId};
            $('.param-list .param-item').each(function(){

                var name=$(this).attr('data-name');
                var value=$(this).val();
                params[name]=value;
            });

            var link='/verifier/verify';
            var data={
                'intfId':intfId,
                'url':url,
                'merchantId':merchantId,
                'secretKey':secretKey,
                'params':JSON.stringify(params)
            }

            $.post(link,data,function (result) {

                $('#btn_confirm_intf').attr('data-gen',0);

                if(result&&result['success']){
                    var data=result['data'];
                    $('.result-raw').val(data['rawResponse']);
                    if(data['code']==0){
                        $('.result-analysis').html("验证通过！");
                    }else{
                        if(data['analysis']&&data['analysis'].length>0){
                            var lines=data['analysis'];
                            var html='';
                            for(var i=0;i<lines.length;i++){
                                html+='<p>'+lines[i]+'</p>';
                            }
                            $('.result-analysis').html(html);
                        }else{
                            $('.result-analysis').html("验证失败！");
                        }
                    }
                }else{
                    $('.result-analysis').html(result['msg']);
                }
            },'json');

        });
    })
</script>